<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>Euro monitor</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' [routerLink]="['/welcome']">Home</a></li>
    <li><a class='nav-link' [routerLink]="['/books']">Books </a></li>
    <li *ngIf='!loggedIn'> <button class="nav-link btn" (click)="logIn()">login</button></li>
    <li *ngIf='loggedIn' > <button class="nav-link btn" (click)="logOut()">Logout</button></li>
   
   
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>